@model IEnumerable<VuaDuQua_QLMovie_Phan1.Models.CinemaEntities.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Phim</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" cellpadding="10" border="1" style="text-align:center">
    <tr>
        <th style="text-align:center;font-size:20px">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align:center;font-size:20px">
            @Html.DisplayNameFor(model => model.Image)
        </th >
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="padding-top:60px;font-size:18px;font-weight:500">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="~/Content/images/@item.Image" alt="@item.Name" width="170" height="190"/>
        </td>
        <td style="padding-top:60px;font-size:13px;font-weight:500">
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Xem Chi Tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
